.c-title{
    width: 771px;
    height: 130px;
    margin: 0 auto;
    text-align: center;

    h3{
        font-family: $fontLeto;
        font-size: 35px;
        font-weight: 300;
        margin-bottom: 20px;
    }

    p{
        @include poppins-regular;
    }
}